<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>云校-帮助每一个孩子成就最好的自己！</title>
	<link href="/static/css/bootstrap1.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/jquery1.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-collapse.js"></script>
</head>
<body>
	$screen_content
</body>