<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>云校-帮助每一个孩子成就最好的自己！</title>
	<script type="text/javascript" src="/static/js/jquery1.js"></script>
</head>
<body>
	$screen_content
</body>