<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<br>
		<div class="welcome_text">
			截止<span>$current_time</span>，我们为您记录了:
		</div>
		<br>
		<br>
		<!--<div class="details">
			<span id="encourage_img"><img src="/static/img/icon/5009/0.png" width="40" height="40" alt=""></span>
			<span class="achi_text"> 积极: </span> 
			<span class="achi_num">$positive_num</span>
			<br>
			<br>
			<span id="corrected_img"><img src="/static/img/icon/5009/1.png" width="40" height="40" alt=""></span>
			<span class="achi_text"> 待改进: </span> 
			<span class="achi_num">$passive_num</span>
			<br>
			<br>
			<span id="comment_img"><img src="/static/img/icon/5009/14.png" width="40" height="40" alt=""></span>
			<span class="achi_text"> 老师评语: </span> 
			<span class="achi_num">$comment_num</span>	
		</div>-->
		<table width="260" border = "0" height="200" align="center" cellspacing="5" >
			<tr valign="middle"><td width="70"><img src="/static/img/icon/5009/0.png" width="40" height="40" alt=""></td><td style="text-align:left;"><font size="3px">积极:</font></td><td style="text-align:right;"><font size="4px">$positive_num</font></td></tr>
			<tr valign="middle"><td width="70"><img src="/static/img/icon/5009/1.png" width="40" height="40" alt=""></td><td style="text-align:left;"><font size="3px">待改进:</font></td><td style="text-align:right;"><font size="4px">$passive_num</font></td></tr>
			<tr valign="middle"><td width="70"><img src="/static/img/icon/5009/14.png" width="40" height="40" alt=""></td><td style="text-align:left;"><font size="3px">老师评语:</font></td><td style="text-align:right;"><font size="4px">$comment_num</font></td></tr>
		</table>
	</body>
</html>